@model MentalHealthApp.Models.Product

@{
    ViewData["Title"] = "Create";
    ViewData["HideNavbar"] = true;
}

<link rel="stylesheet" href="~/css/form.css" />

<a href="javascript:history.back()" class="back-arrow" ata-toggle="tooltip" data-placement="bottom" title="Click to Go Back!" style="font-size:50px;">&#8592;</a>
<br />
<br />
<h1>Product Creation</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Product Name</label>
                <input asp-for="Name"
                       class="form-control"
                       maxlength="100"
                       required
                       placeholder="Enter product name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description:</label>
                <textarea asp-for="Description" class="form-control" rows="4" maxlength="500" required placeholder="Enter product description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" min="0.01" max="10000" step="0.01" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-select" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                    <option value="" disabled selected>Select a category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

        <partial name="_ValidationScriptsPartial" />

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

