@model MentalHealthApp.Models.Appointment

@{
    ViewData["Title"] = "Create";
    ViewData["HideNavbar"] = true;
}

<link rel="stylesheet" href="~/css/form.css" />


<h1>Book an Appointment.</h1>
<br />

<a href="javascript:history.back()" class="back-arrow" ata-toggle="tooltip" data-placement="bottom" title="Click to Go Back!" style="font-size:50px;">&#8592;</a>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TherapistId" class="control-label"></label>
                <select asp-for="TherapistId" class ="form-control" asp-items="ViewBag.TherapistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input type="datetime-local" name="AppointmentDate" class="form-control" required
                       min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">

                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control" />
                <span asp-validation-for="DurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<AppointmentStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
