@model MentalHealthApp.Models.MoodEntriesViewModel

@{
    ViewData["Title"] = "Your Stats";
}

<link href="~/css/site.css" rel="stylesheet" />
<h1 class="text-center mt-4" style="color:#6b44b3;">Your Mood  Stats</h1>

<div class="container mt-4 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center shadow-sm mb-4" style="border-radius:10px;">
                <div class="card-body" style="background-color:#6b44b3; color:white;">
                    <h4 class="card-title"><b>🔥 Current Streak</b></h4>
                    <p class="card-text" style="font-size:24px;">@Model.CurrentStreak days</p>

                    <h4 class="card-title"><b>🏆 Best Streak</b></h4>
                    <p class="card-text" style="font-size:24px;">@Model.BestStreak days</p>

                    <h4 class="card-title"><b>🎖️ Badge</b></h4>
                    <p class="card-text" style="font-size:24px;">@Model.Badge</p>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center mt-3">
        <a asp-controller="MoodEntries" asp-action="Index" class="btn btn-purple">Go Back</a>
    </div>


