@page
@model IndexModel
@using Gmail_Test.Data
@using Gmail_Test.Areas.Identity.Pages.Account.Manage
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<!-- Flex box container to structure form to the left-->
<div class="row" style="display: flex; align-items: flex-start;">
    <!-- Form column -->
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DateOfBirth" class="form-control" type="date" placeholder="Date of Birth" />
                <label asp-for="Input.DateOfBirth">Date of Birth</label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>

    <!-- Image column with flex box to right  -->
    <div class="col-md-6" style="flex: 1; display: flex; justify-content: flex-end;">
        <img src="~/img/undraw_private-data_7v0o.svg" style="max-width: 100%; height: auto;" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}